extend layout

html
head
    title Appreciation game for Global Courier Services
block header
  header Game
block content
  section#test
    section#main
      script(src='javascripts/game.js')
      canvas#myGame
        | If you see this message, please get a new broswer since your browser does not support canvas
      form(action='/game', method='post')
          label(for='Score') Score
          input(id = 'gameScore' , type = 'number', name = 'gameScore', readonly)
          input(id = 'gameDiff' , type = 'text', name = 'gameDiff', readonly)
          input(type='submit', value='Submit')
      section#chat
        #chatwindow(width='100%')
          ul(id="messages")
        br
        form(action="", id='msgForm', onSubmit='return false;')
          input(id="message" autocomplete="off")
          button(type='button', onClick='send();') Send
