extend layout
head
    title References
  body(onload='modTime()')
    script(src='index.js')
 block content
  section#main
    h1 List of References
    section
      ul#references
        li
          | Compass.ups.com. (2012). 5 things that happen to your package in transit. [online] Available at: 
          a(href='http://compass.ups.com/processes-of-package-in-transit/') http://compass.ups.com/processes-of-package-in-transit/
          |  [Accessed 18 Apr. 2016].
        li
          | Game Tutorial.(n.d). Retrieved from 
          a(href='http://www.w3schools.com/games/') http://www.w3schools.com/games/
        li
          | Gizmodo.com. (2016). [online] Available at: 
          a(href='http://gizmodo.com/inside-the-automated-ups-complex-that-sorts-7-000-packa-1705368971')
            | http://gizmodo.com/inside-the-automated-ups-complex-that-sorts-7-000-packa-1705368971
          |  [Accessed 19 Apr. 2016].
        li
          | Google Books. (2016). Patent EP1642654A2 - Method of and system for performing a package preload in accordance with a dispatch plan. [online] Available at: 
          a(href='http://www.google.com/patents/EP1642654A2?cl=en') http://www.google.com/patents/EP1642654A2?cl=en
          |  [Accessed 19 Apr. 2016].
        li
          | HowStuffWorks. (2006). How UPS Works. [online] Available at: 
          a(href='http://money.howstuffworks.com/ups.htm') http://money.howstuffworks.com/ups.htm
          |  [Accessed 18 Apr. 2016].
        li
          | Html5canvastutorials.com. (2016). HTML5 Canvas Mouse Coordinates Tutorial. [online] Available at: 
          a(href='http://www.html5canvastutorials.com/advanced/html5-canvas-mouse-coordinates/') http://www.html5canvastutorials.com/advanced/html5-canvas-mouse-coordinates/
          | [Accessed 21 Apr. 2016].
        li
          | Html5.litten.com. (2016). How to Drag and Drop on an HTML5 Canvas. [online] Available at: 
          a(href='http://html5.litten.com/how-to-drag-and-drop-on-an-html5-canvas/') http://html5.litten.com/how-to-drag-and-drop-on-an-html5-canvas/
          |  [Accessed 22 Apr. 2016].
         li
          | OpenClipartVectors(2016), Black and White icon Monochrome Truck. Retrieved from 
          a(href='https://pixabay.com/static/uploads/photo/2016/04/01/10/09/black-and-white-1299789_960_720.png') https://pixabay.com/static/uploads/photo/2016/04/01/10/09/black-and-white-1299789_960_720.png

        li
          | Sangjun Oh(2016), Manhole Cover. Retrieved from 
          a(href='https://pixabay.com/static/uploads/photo/2016/01/14/11/04/manhole-1139689_960_720.png') https://pixabay.com/static/uploads/photo/2016/01/14/11/04/manhole-1139689_960_720.png

        li
          | Webdesignerwall.com. (2011). CSS: Elastic Videos. [online] Available at: 
          a(href='http://webdesignerwall.com/tutorials/css-elastic-videos') http://webdesignerwall.com/tutorials/css-elastic-videos
          |  [Accessed 19 Apr. 2016].
        li
          | W3schools.com. (2016). CSS Navigation Bar. [online] Available at: 
          a(href='http://www.w3schools.com/css/css_navbar.asp') http://www.w3schools.com/css/css_navbar.asp
          |  [Accessed 19 Apr. 2016].
        li
          | Youtube.com. (2016). How UPS Ball Bearing Flooring Works - YouTube. [online] Available at: 
          a(href='https://www.youtube.com/embed/V5H-wi8wmQA') https://www.youtube.com/embed/V5H-wi8wmQA
          |  [Accessed 19 Apr. 2016].
